<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
  <title>Top Page</title>
</head>
<body>
<section layout:fragment="content">
  <div class="text-center">
    <h1 class="h1">DM-Gate ball</h1>
    <p>昔のスーパーデッキの対戦記録</p>
  </div>

  <!-- デッキリスト -->
  <div>
    <h1 class="h1 mt-3">Deck List</h1>

    <table class="table table-hover">
      <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="deck : ${deckList}" th:object="${deck}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- 勝敗データ表 -->
  <div>
    <h1 class="h1 mt-3">Results</h1>

    <table class="table">
      <thead class="table-light">
      <tr>
        <th>Rank</th>
        <th>Deck Name</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Winrate</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="item, iterStat : ${results}" th:object="${item}"
          th:with="incrementedValue=${iterStat.index + 1}">
        <td th:text="${incrementedValue}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{winCount}"></td>
        <td th:text="*{lossCount}"></td>
        <!-- なぜか0.xx表記になる。。。 ので応急処置-->
        <td th:text="*{winrate * 100} + '%'"></td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
</body>
</html>